body {background-color: white}

body.dark {background-color: #222; color: #e6e6e6}

button {class="w3-large w3-button w3-margin w3-round-large w3-blue}

body.dark button {background-color: #222; color: white}
  
button{
  display: inline-block;
  margin: 0;
}
